[physical parameters]
zero_point = 28.08
mag_min = -16.0
mag_max = -21.5
bin_width = 0.25
use_lf = 0
stamp_size = 101
redshift = 6.5
galaxy_sizes = 0.3, 0.52, 0.74, 0.96
n_inserts = 1000
r_ref = 0.8
m_ref = -21

[LF parameters]
mag_char = -21.19
scale = 0.0000194
slope = -2.28

[cosmology]
omega_m = 0.3
h0 = 70

[files]
mask_file = glass_mask.fits
psf_file = /raid/scratch/data/jwst/PSFs/PSF_Resample_03_F444W.fits
image_file = /raid/scratch/data/jwst/SMACS0723/mosaic_1084_182/jw02736-o001_t001_nircam_clear-f444w_i2dnobg.fits
stamp_dir = /nvme/scratch/work/ignas/Completeness_sim/JWST_completeness-main/source_catalog/
outroot = /nvme/scratch/work/ignas/Completeness_sim/JWST_completeness-main/inserted_img/glass_
stamp_params = series3_z11_params.txt
stamp_fileroot = series3_z11_

[catalog matching]
error = 5
out_dir = /nvme/scratch/work/ignas/Completeness_sim/JWST_completeness-main/results/
comp_bins = 24

[sextractor parameters]
zero_point = 28.08
out_dir = /nvme/scratch/work/ignas/Completeness_sim/JWST_completeness-main/sex_output/
seg_fileroot = glass_seg_
cat_fileroot = glass_cat_
config_file = /nvme/scratch/work/nadams/SExtractor/CEERS_Test3L.sex

[mask parameters]
generate_mask = 0
seg_file = /nvme/scratch/work/austind/GALFIND/SExtractor/NIRCam/v8a/SMACS-0723/SMACS-0723_f444W_f444W_sel_cat_v8a_seg.fits
img_file = /raid/scratch/data/jwst/SMACS0723/mosaic_1084_182/jw02736-o001_t001_nircam_clear-f444w_i2dnobg.fits
stamp_size = 101
buffer = 0
out_file = glass_mask.fits

