[physical parameters]
zero_point = 28.08
mag_min = -16.0
mag_max = -24
bin_width = 0.2
use_lf = 0
stamp_size = 101
redshift = 11
galaxy_sizes = 1.4
n_inserts = 1000
r_ref = 0.8
m_ref = -21

[LF parameters]
mag_char = -21.19
scale = 0.0000194
slope = -2.28

[cosmology]
omega_m = 0.3
h0 = 70

[files]
mask_file = smacs_mask.fits
psf_file = psf_ceersd_03_444.fits
image_file = glass_f444w_i2d.fits
stamp_dir = /share/imageanalysis/GalaxyTemplates/Gal_Raw/
outroot = /share/imageanalysis/comp_sim/inserted_img/glass_
stamp_params = series3_z11_params.txt
stamp_fileroot = series3_z11_

[catalog matching]
error = 5
out_dir = /share/imageanalysis/comp_sim/results/
comp_bins = 24

[sextractor parameters]
zero_point = 28.08
out_dir = /share/imageanalysis/comp_sim/sex_output/
seg_fileroot = glass_seg_
cat_fileroot = glass_cat_
config_file = CEERS_Test.sex

[mask parameters]
seg_file = glass_seg_444w.fits
img_file = glass_f444w_i2d.fits
stamp_size = 101
buffer = 0
out_file = smacs_mask.fits




